#.gitignore for this project
# Ignore env files
.env
smart_cradle_server/.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
venv.bak/

# Docker
*.log
docker-compose.override.yml

# macOS
.DS_Store

# Database backups
backups/*.sql

# Markdown
.README_BACKUP.md
.README_DOCKER.md